body {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.title {
    margin-bottom: 48px;
}

.content {
    display: flex;
    justify-content: space-around;
    font-size: 28px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
}

.center {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons div {
    margin: 20px;
}

.buttons button {
    height: 100px;
    width: 300px;
    font-size: 20px;
}

.winner {
    font-size: 28px;
    margin: 32px;
}

.reset {
    margin: 16px;
}

.reset button {
    font-size: 16px;
}